#compile
**/client/module/classes
**/target
**/deploy

#client jdeveloper setting
client/.data/

#soa composite files
*-Target.xml
**/.designer
**/deploy
**/SCA-INF

#auto-test
**/auto-test/resultsTest*
**/auto-test/build
/auto-test/*.txt

#unit-test
derby.log

#log
*.log
*.log.gz

#placeholders
**/placeholder/result*